div .todo-container{
    width: 100px;
    background-color: blue;
    border: 1px solid;
}
.content {
    height: 500px;
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.2rem;
    overflow: auto;
}

.storyImage {
    height: 500px;
}
.storyVideo {
    height: 500px;
}